.gridContainer {
  display: grid;
  grid-template-areas:
    "dashboard"
    "filter"
    "main";
  grid-template-columns: 1fr;
}

@media (min-width: 640px) {
  .gridContainer {
    grid-template-areas:
      "dashboard filter"
      "dashboard main";
    grid-template-rows: auto 1fr;
    grid-template-columns: 180px 1fr 1fr;
  }
}
